<!-- products.ejs -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Produits</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-/1aEKdR82gA2LObVya7oJDS4g+uJ8HxL4iGiUEyZz0Xn1+BWp5/4w/DPVqcGSlRxf58nUC9i4f+WG5G0xW3P8g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="../plubic/style.css">
    <script src="../script.js"></script>
</head>
<body>
    <header>
        <h1>Nos Produits</h1>
    </header>

    <div class="container">
        <% products.forEach(product => { %>
            <div class="product-card">
                <img src="<%= product.imageLink %>" alt="<%= product.title %>">
                <h2><%= product.title %></h2>
                <p><%= product.description %></p>
                <p><strong>Prix:</strong> <%= product.price %> €</p>
                <p><strong>Stock:</strong> <%= product.stock %> unités</p>
                <p><strong>Catégorie:</strong> <%= product.category %></p>
                <p><strong>Marque:</strong> <%= product.brand %></p>
                <p><strong>Modèle:</strong> <%= product.model %></p>

                <!-- Ajoute ici la logique pour afficher les évaluations (ratings) -->

                <form action="/cart/add" method="post">
                    <input type="hidden" name="productId" value="<%= product._id.$oid %>">
                    <input type="submit" value="Ajouter au panier">
                </form>
            </div>
        <% }); %>
    </div>

    <!-- Pied de page -->
    <footer>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <h2><%= product.title %></h2>
                    <p><%= product.description %></p>
                    <!-- Ajoutez d'autres propriétés à afficher selon votre modèle -->
                </li>
            <% }); %>
        </ul>
        <p>© 2023 Votre Nom</p>
    </footer>
</body>
</html>
